/* Springboards */

/* Overall size of one cell in a springboard (grid of icons) */
.springboard div {	
	font-size: 80.5%;	/* Font size of text label below icon */
	line-height: 1.1em;
	/* width: 102px; */   	/* For springboard grid that is 3 icons wide */
	/* height: 90px; */   	/* For springboard grid that is 3 icons wide */
	width: 77px;	/* For springboard grid that is 4 icons wide */
	height: 96px;	/* For springboard grid that is 4 icons wide */
}

.springboard a img {
	/* Size of each standard icon image in a springboard */
	width: 60px;
	height: 60px;
}

.springboard .separator {
	/* Height of extra gap between main and utility-class springboard items */
	height: 10px;
}

/* Overall size of one cell in the springboard's utility-type items */
/* Utility-class modules are typically shown smaller and at the bottom of the springboard */
.springboard div.utility {
	/* width: 102px; */ /* For a 3-wide row of utility icons */
	width: 76px; /* For a 4-wide row of utility icons */
	/* width: 61px; */ /* For a 5-wide row of utility icons */
	height: 86px;
	font-size: 75.6%;
	line-height: 1.1em;
}

.springboard div.utility a img {
	/* Size of each utility-class icon in a springboard */
	width: 36px;
	height: 36px;
}

.springboard .secured {
	/* Overlay image to indicate that a module is password-protected */
	/* Adjust size to fit /common/images/secured.png, and adjust position to fit springboard icon size */
	top: 45px;
	right: 4px;
	width: 18px;
	height: 22px;
}

.springboard .utility .secured {
	/* Adjust position to fit springboard icon size for utility-class module icons */
	top: 26px;
	right: 12px;
}


/* Nav bar at top of all screens other than home screen */
/*
#navbar {
	-webkit-box-shadow: 0 0 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	-o-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;*/
}


h1#homelogo {
   background: #FFFFFF;
   text-align: left;
   margin: 0;
    height: 60px;
   padding: 4px;
}/*HomePage Headerbar*/

.homemodule #container {
	background: url("common/images/homeback.jpg");
	background-size: 100% 100%;
	background-color: #49176D;
/*HomePage background*/
}

#container {
	background: #B3A2CE url("common/images/headerdecoration.png") no-repeat;
	background-size:  100%;
/*headerdecoration for most pages*/
}

#navbar {
	margin: 0;
/*header margin*/
}

.nonfocal {
	margin-top: 0;
	padding-top: 12px;
/*searchbar sizing and border loss*/
}
#searchformcontainer {
	clear: both;
/*searchbar positioning due to float*/
}
.searchwrapper .forminput {
	font-family: Georgia, Times New Roman, Serif;
	padding: 6px 4px 8px 9px;

}
fieldset {
	padding: 1px;
}
fieldset select {
	 font-family: Georgia, Times New Roman, serif;
 }
	
.emphasized .forminput {
	border: 1px solid #B3A2CE;
	height: 20px;
}

.inputcombo .forminput {
	height: 20px;
}

.results li.story a .ellipsis {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 80% !important;
/*NewsModule story snippets*/
}

.results li.story a .title {
	font-family: Georgia, Times New Roman, serif !important;
	font-size: 126% !important;
/*NewsModule story snippets*/
}

form fieldset select {
    background-color: #FFFFFF;
    border: 1px solid #B3A2CE;
/*dropdown bars*/
}

#nonfooternav ul.nav {
    margin-top: 0px;
    position: relative; top: 12px;
/*header decoration positioning for admissions and about */
}

.EmergencyModule #nonfooternav #container .focal {
     margin-top: 0px;
     position: relative; top: 12px;
/*header decoration positioning*/
}

 .news h1.slugline, h2.itemtitle {
    font-size: 142% !important;
/*news item title */
}

#search-form #search_terms {
     font-family: Georgia, Times New Roman, serif;
     padding: 5px;
/*map searchbar*/
}

#campus-select td.inputfield select {
     font-family: Georgia, Times New Roman, serif;
/*map dropdown bar*/
}

#searchbar-buttons div input{
     font-family: Georgia, Times New Roman, serif;
     color: #B3A2CE !important;
/*map search buttons*/
}

#footerlinks a {
    color: #49176D !important;
/*Footer navigation*/
}

#footerlinks, #footer {
    text-align: center;
/*footer stuff centered*/
}

h3.nonfocal {/*Athletics Module news title*/
     background-color: #FFFFFF;
     padding: 6px;
     padding-bottom: 12px;
     border-radius: 9px;
}
ul.results {
   margin-top: 0px;
}
